@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-bg {
    background-color: #bd4444;
  }

  .wraper {
    max-width: 1440px;
    margin: 0 6px;
    @screen sm {
      margin: 0 10px;
    }
    @screen md {
      margin: 0 20px;
    }
    @screen lg {
      margin: 0 24px;
    }
    @screen xl {
      margin: 0 auto;
    }
  }

  .flex-spacex-bw {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-spacey-bw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex-spacex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-spacey-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .para {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem; /* leading-5 */
    letter-spacing: 0.2px;
  }

  .h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.2px;
  }

  .h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
  }

  .h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem; /* text-2xl */
    line-height: 2rem; /* leading-8 */
    letter-spacing: 0.1px;
  }

  .h3b {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem; /* text-2xl */
    line-height: 2rem; /* leading-8 */
    letter-spacing: 0.1px;
  }

  .h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem; /* text-base */
    line-height: 1.5rem; /* leading-6 */
    letter-spacing: 0.1px;
  }

  .h5a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem; /* text-base */
    line-height: 1.5rem; /* leading-6 */
    letter-spacing: 0.1px;
    color: #252B42;
  }

  .h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem; /* text-xl */
    line-height: 1.875rem; /* leading-[30px] */
    letter-spacing: 0.2px;
  }

  .h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem; /* text-base */
    line-height: 1.5rem; /* leading-6 */
    letter-spacing: 0.2px;
  }

  .m-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3rem; /* text-3xl */
    line-height: 2.8125rem; /* leading-[45px] */
    letter-spacing: 0.2px;
  }

  .link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* text-sm */
    line-height: 1.5rem; /* leading-6 */
    letter-spacing: 0.2px;
    color: #737373;
  }

  .btn-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* text-sm */
    line-height: 1.375rem; /* leading-[22px] */
    letter-spacing: 0.2px;
  }

  .small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.75rem; /* text-xs */
    line-height: 1rem; /* leading-4 */
    letter-spacing: 0.2px;
  }

  .drop {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; /* text-sm */
    line-height: 1.75rem; /* leading-7 */
    letter-spacing: 0.2px;
  }

  .mobile-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.875rem; /* text-[30px] */
    line-height: 2.8125rem; /* leading-[45px] */
    letter-spacing: 0.2px;
  }
}

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(240, 5.9%, 10%);
    --primary-foreground: hsl(0, 0%, 98%);
    --secondary: hsl(240, 4.8%, 95.9%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --border: hsl(240, 5.9%, 90%);
    --input: hsl(240, 5.9%, 90%);
    --radius: 0.5rem;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
